PAPERCLIP_BASE_URL=https://paperclip.simfi-mebel.ru
PAPERCLIP_TOKEN=replace-with-bearer-token
PAPERCLIP_COMPANY_ID=replace-with-company-id
PAPERCLIP_PROJECT_ID=replace-with-project-id
PAPERCLIP_ISSUE_IDS=
PAPERCLIP_MAX_ISSUES=25
DOCKER_COLLECTOR_ENABLED=true
